---
title: LDC | STORY
layout: main
---

      <div class="js-smooth-scroll bg-dark-1" id="page-wrapper" data-barba="container" data-arts-theme-text="light">
        <main class="page-wrapper__content">
          <!-- section MASTHEAD CONTAINER BOTTOM -->
          <section class="section section-masthead pt-large pb-medium text-center" data-arts-os-animation="data-arts-os-animation" data-background-color="var(--color-dark-1)">
            <div class="section-masthead__inner container-fluid">
              <header class="row section-masthead__header justify-content-center">
                <div class="col">
                  <div class="section-masthead__subheading small-caps mt-0 mb-1 mb-md-2 split-text js-split-text" data-split-text-type="lines,words" data-split-text-set="words"><span>La vie. L'amour. Le rire</span></div>
                  <div class="w-100"></div>
                  <div class="section-masthead__heading split-text js-split-text" data-split-text-type="lines,words" data-split-text-set="words">
                    <h1 class="h1 mt-0 mb-0">MY STORY</h1>
                  </div>
                  <div class="w-100"></div>
                  <div class="section__headline mt-2 mx-auto"></div>
                </div>
              </header>
            </div>
          </section>
          <!-- - section MASTHEAD CONTAINER BOTTOM -->
          <!-- section BLOG LIST SIDEBAR -->
          <section class="section section-blog pb-medium">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-8 section-blog__posts">

                  {% for post in site.posts %}    
                  <div class="section-blog__wrapper-post">
                    <article class="figure-post">
                      <div class="figure-post__media"><a class="lazy" href="{{ post.url }}"><img data-src="{{post.link_img}}" width="1920" height="1280" src="#" alt=""/>
                          <time class="figure-post__date" datetime="2020-02-01T04:16:44+00:00"><span class="figure-post__date-day h3">{{ post.day }}</span><span class="figure-post__date-month">{{ post.month }}</span></time></a></div>
                      <div class="figure-post__wrapper-info mt-3 small-caps">
                        <ul class="post-meta">
                          <li>
                            <ul>
                              <li><a href="#">{{post.categories[0]}}</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="figure-post__header mt-1"><a class="d-block" href="{{ post.url }}">
                          <h2 class="h3 mt-0">{{ post.title }}</h2></a></div>
                      <div class="figure-post__content">
                        <p>{{ post.excerpt }}</p>
                      </div>
                      <div class="figure-post__wrapper-readmore mt-1 mt-md-2 text-right"><a class="button button_bordered button_white" data-hover="Read More" href="{{ post.url }}"><span class="button__label-hover">Read More</span></a>
                      </div>
                    </article>
                  </div>
                  {% endfor %} 


                  <!-- XỬ LÝ SAU -->

                  <!-- <div class="section-blog__wrapper-pagination">
                    <nav class="pagination">
                      <div class="nav-links">
                        <a class="page-numbers prev material-icons" href="#">keyboard_arrow_left</a>
                        <div class="nav-links__container"><span class="page-numbers current">1</span><a class="page-numbers" href="#">2</a><span class="page-numbers dots">...</span><a class="page-numbers" href="#">4</a></div>
                        <a class="page-numbers next material-icons" href="#">keyboard_arrow_right</a>
                      </div>
                    </nav>
                  </div> -->

                  <!-- XỬ LÝ SAU -->


                </div>
                <!-- sidebar -->
                <div class="col-lg-3 section-blog__sidebar">
                  <aside class="sidebar sidebar_no-margin-last-widget widget-area">
                    <!-- widget SEARCH -->
                    <section class="widget widget_search">
                      <!-- header -->
                      <!-- - header -->
                      <!-- content -->
                      
                      <section class="section section-content clearfix text-center" data-arts-os-animation="data-arts-os-animation">
                        <div class="section-content__inner">
                          <div class="figure-testimonial__sign mx-auto"><img src="assets/img/general/quote-white.svg" alt="alt"/></div>
                          
                          <div class="section-content__heading split-text js-split-text" data-split-text-type="lines,words" data-split-text-set="words">
                            <h6>Le bonheur est souvent la seule chose qu’on puisse donner sans l’avoir et c’est en le donnant qu’on l’acquiert.
                            </h6>
                          </div>
                          <div class="w-100"></div>
                          <div class="section__headline mt-1 mt-md-2 mx-auto"></div>
                          <div class="w-100"></div>
                        </div>
                      </section>
                      <!-- - content -->
                    </section>
                    <!-- - widget SEARCH -->

                    <!-- TẠM ẨN CATEGORIES LIST -->

                    <!-- <section class="widget widget_categories">
                      <h2 class="widgettitle">Categories</h2>
                      <ul>
                        <li class="cat-item"><a href="#">Interior Design</a><span>10</span></li>
                        <li class="cat-item"><a href="#">Development</a><span>5</span></li>
                        <li class="cat-item"><a href="#">Creative Life</a><span>8</span></li>
                        <li class="cat-item"><a href="#">Travel</a><span>2</span></li>
                        <li class="cat-item"><a href="#">Interviews</a><span>4</span>
                          <ul class="children">
                            <li class="cat-item"><a href="#">Child Category 01</a><span>1</span></li>
                            <li class="cat-item"><a href="#">Child Category 02</a><span>1</span></li>
                            <li class="cat-item"><a href="#">Child Category 03</a><span>1</span>
                              <ul class="children">
                                <li class="cat-item"><a href="#">Grandchild Category</a><span>1</span></li>
                              </ul>
                            </li>
                            <li class="cat-item"><a href="#">Child Category 04</a><span>1</span></li>
                            <li class="cat-item"><a href="#">Child Category 05</a><span>1</span></li>
                          </ul>
                        </li>
                      </ul>
                    </section> -->


                    <!-- - TẠM ẨN CATEGORIES LIST -->

                    
                    <!-- widget RECENT POSTS -->
                    <section class="widget widget_recent_entries">
                      <!-- header -->
                      <h2 class="widgettitle">Recent Posts</h2>
                      <!-- - header -->
                      <!-- content -->
                      <ul>
                        {% for post in site.posts limit:3 %}
                        <li><a href="{{ post.url }}"><span>{{ post.title }}</span></a>
                          <div class="post-date">{{ post.time }}</div>
                        </li>
                        {% endfor %}
                      </ul>
                      <!-- - content -->
                    </section>
                    <!-- - widget RECENT POSTS -->

                    <!--XỬ LÝ SAU-->
                    <!-- <section class="widget widget_tag_cloud">
                      <h2 class="widgettitle">Tags</h2>
                      <div class="tagcloud">
                        <ul>
                          <li><a class="tag-cloud-link" href="#">Premium</a></li>
                          <li><a class="tag-cloud-link" href="#">Creative</a></li>
                          <li><a class="tag-cloud-link" href="#">UX</a></li>
                          <li><a class="tag-cloud-link" href="#">Interior</a></li>
                          <li><a class="tag-cloud-link" href="#">Corporate</a></li>
                          <li><a class="tag-cloud-link" href="#">Motion</a></li>
                          <li><a class="tag-cloud-link" href="#">Photography</a></li>
                        </ul>
                      </div>
                    </section> -->
                    <!--XỬ LÝ SAU-->


                  </aside>
                </div>
                <!-- - sidebar -->
              </div>
            </div>
          </section>
          <!-- - section BLOG LIST SIDEBAR -->
        </main>
        <!-- PAGE FOOTER -->
        <footer class="footer container-fluid" id="page-footer" data-arts-theme-text="light" data-arts-footer-logo="secondary">
          <!-- widgets bottom area -->
          <div class="footer__area footer__area-border-top pt-sm-3 pb-sm-1 pt-2 pb-0">
            <div class="row align-items-center">
              <!-- widget LOGO -->
              <div class="col-lg-3 footer__column text-center text-lg-left order-lg-1">
                <section class="widget widget_rhye_logo">
                  <!-- content --><a class="logo js-href-home" href="#">
                    <div class="logo__wrapper-img">
                      <!-- primary logo version (for light backgrounds)--><img class="logo__img-primary" src="assets/img/general/logo-black.svg" alt="logo" height="20"/>
                      <!-- secondary logo version (for dark backgrounds)--><img class="logo__img-secondary" src="assets/img/general/logo-white.svg" alt="logo" height="20"/>
                    </div></a>
                  <!-- - content -->
                </section>
              </div>
              <!-- - widget LOGO -->
              <!-- widget SOCIAL -->
              <div class="col-lg-3 footer__column text-center text-lg-right order-lg-3">
                <section class="widget widget_rhye_social">
                  <!-- content -->
                  <ul class="social">
                    <li class="social__item"><a class="fa-brands fa-facebook js-href-facebook" href="#" target="_blank" rel="noopener noreferrer"></a></li>
                    <li class="social__item"><a class="fa-brands fa-twitter js-href-twitter" href="#" target="_blank" rel="noopener noreferrer"></a></li>
                    <li class="social__item"><a class="fa-brands fa-instagram js-href-instagram" href="#" target="_blank" rel="noopener noreferrer"></a></li>
                    <li class="social__item"><a class="fa-brands fa-github js-href-github" href="#" target="_blank" rel="noopener noreferrer"></a></li>
                    <li class="social__item"><a class="fa-brands fa-500px js-href-500px" href="#"  target="_blank" rel="noopener noreferrer"></a></li>        
                  </ul>
                  <!-- - content -->
                </section>
              </div>
              <!-- - widget SOCIAL -->
              <!-- widget TEXT -->
              <div class="col-lg-6 footer__column text-center text-lg-center order-lg-2">
                <section class="widget widget_text">
                  <!-- content -->
                  <div class="textwidget">
                    <p><small>© 2017-<span class="js-current-year"></span> <a class="js-href-home text-light" href="https://ledinhcuong.com">DINHCUONG</a> – All rights reserved.</small></p>
                  </div>
                  <!-- - content -->
                </section>
              </div>
              <!-- - widget TEXT -->
            </div>
          </div>
          <!-- - widgetst bottom area -->
        </footer>
        <!-- - PAGE FOOTER -->
      </div>
